$color--black: #000;
$color--white: #fff;
$color--red: #db1a67;

// == Mobile Size
@media screen and (min-width: 300px) {
  .projets {

    &-image {
      &-pro {
        width: 100vw;
        height: 200px;
        margin-bottom: 0.5rem;
        box-shadow: 0px 0px 10px 0px #656565;
      }
    }
    &-container {
      text-align: center;

      &-solo {
        margin: 3rem 0;
        
      }
    }

    &-hr {
      height: 3px;
      background-color: $color--black;
      width: 30%;
    }

    &-title {
      color: $color--black;
      font-size: 18px;
      margin: 5rem 0 .5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;

      &-pro {
        text-transform: uppercase;
        margin-top: 0.4rem;
        font-weight: bold;
        font-size: 17px;
        text-decoration: underline;
        color: $color--red;
      }
    }

    &-lang {
      margin-top: 1.4rem;
      font-size: 14px;
      font-style: italic;
    }

    &-desc {
      margin: 1.5rem 1rem 1rem;
      line-height: 1.5rem;
      font-style: italic;
      font-size: 14px;
    }
  }
}
