@import 'src/styles/vars';

  .projets {
    &-groupLink {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      &-item {
        border: solid 1px $color--red;
        color: $color--red;
        opacity: .7;
        border-radius: 10px;
        display: block;
        width: 20%;
        margin: 1rem 0;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: .5rem;
        transition: .3s;

        &:hover {
          opacity: 1;
          border-radius: 20px;
          width: 10%;
          transition: .6s;
        }
      }
    }
    &-image {
      &-pro {
        width: 100%;
        margin-bottom: 0.5rem;
        box-shadow: 0px 0px 10px 0px #656565;
        object-fit: fill;
      }
    }
    &-container {
      text-align: center;

      &-solo {
        margin: 2rem .2rem;
        
        &-2 {
          width: 100%;
        }
      }
    }

    &-hr {
      height: 3px;
      background-color: $color--black;
      width: 30%;
    }

    &-title {
      color: $color--black;
      font-size: 22px;
      margin: 5rem 0 .5rem;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;

      &-pro {
        text-transform: uppercase;
        margin-top: 0.4rem;
        font-weight: bold;
        font-size: 17px;
        text-decoration: underline;
        color: $color--red;
      }
    }

    &-subtitle {
      &-1 {
        color: $color--black;
        font-size: 14px;
        margin: 1rem 0 .5rem;
        text-align: center;
        opacity: .7;
      }
      &-2 {
        color: $color--black;
        font-size: 14px;
        margin: 1rem 0 .5rem;
        text-align: center;
        opacity: .7;
        font-style: italic;
      }
    }

    &-role {
      margin-top: 1.4rem;
      font-size: 14 px
    }

    &-lang {
      margin-top: 1rem;
      font-size: 14px;
      font-style: italic;
    }

    &-desc {
      margin: 1.2rem 1rem 1rem;
      line-height: 1.5rem;
      font-style: italic;
      font-size: 14px;
    }
  }

@media screen and (min-width: 768px) {
  .projets {
    &-image {
      &-pro {
        margin-bottom: 0;
        height: 100%;
      }
    }
    
    &-subtitle-1{
      font-size: 16px;
    }

    &-container-solo {
      display: flex;
      margin: 0;
      border: 2px solid #eee;

       &:first-child {
         margin-top: 2rem;
       }

       &:nth-child(2) {
         flex-direction: row-reverse;
       }

      &-2 {
        flex-direction: column;
        // width: 50%;
        align-self: center;
      }
    }

    &-desc {
      margin: 0;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projets {
    &-image {
      &-pro {
        width: 98.8%;
        height: 100%;
      }
    }

    &-groupLink-item {
      width: 15%;
    }

    &-hr {
      width: 9%;
    }

    &-desc {
      margin: 1rem 7rem;
    }
  }
}
