@import 'src/styles/vars';

  .presentation {
    margin: 0rem 1.2rem;

    &-picture {
      width: 90vw;
      height: 150px;
      border-radius: 15px;
      margin: 3rem auto 3rem auto;
      display: block;
    }

    &-hr {
      height: 3px;
      background-color: $color--black;
      width: 30%;

      &-c {
        width: 60%;
        height: 3px;
        background-color: $color--black;
        margin-bottom: 2rem;
      }
    }

    &-title {
      color: $color--black;
      font-size: 22px;
      margin: 1.5rem 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-title-c {
      color: $color--black;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 5rem;
    }

    &-desc {
      line-height: 1.5rem;
      margin-bottom: 0.7rem;
    }

    &-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      font-size: 15px;
      color: $color--red;
      border: 1.5px solid $color--red;
      line-height: 120px;
      text-align: center;
      background:#eee;
      margin: 1rem;
    }
  }


@media screen and (min-width: 768px) {
  .presentation {
    &-picture {
      width: 80%;
    }

    &-hr-c {
      width: 32%;
    }

    &-desc {
      margin: 0 3rem;
    }
  }
}

@media screen and (min-width: 1000px) {
  .presentation {
    &-picture {
      height: 380px;
    }

    &-hr {
      width: 9%;

      &-c {
        width: 18%;
      }
    }

    &-group {
      padding: 0 15rem;
    }

    &-circle:hover {
      background-color: #252934;
      color: #fff;
      border: none;
      transition: .5s;
    }
  }
}
