@import 'src/styles/vars';

  .underline {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: $color--red;
  }

  .presentation {
    margin: 0rem 1.2rem;

    &-header {
      &-group {
        text-align: center;
      }

      &-btn {
        background: transparent;
        box-shadow: none;
        margin: 1rem 0 1.5rem;
        border: 2px solid;
        padding: .5rem 1rem;
        color: #000;
        text-transform: uppercase;

        &:hover {
          transition: .4s;
          border-color: $color--red;
          color: $color--red;
        }
      }
    }

    &-picture {
      box-shadow: 0px 0px 10px 0px #656565;
      object-fit: cover;
      margin: 2rem auto 0;
      display: block;
      width: 220px;
      border-radius: 50%;
      height: 220px;
      border: 2px solid $color--red;
    }

    &-hr {
      height: 3px;
      background-color: $color--black;
      width: 30%;

      &-c {
        width: 60%;
        height: 3px;
        background-color: $color--black;
        margin-bottom: 2rem;
      }
    }

    &-title {
      color: $color--black;
      font-size: 22px;
      margin: 1.5rem 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-title-c {
      color: $color--black;
      font-size: 22px;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 5rem;
    }

    &-desc {
      line-height: 1.5rem;
      margin: 0 0.7rem 0.7rem;
    }

    &-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }

    &-circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      font-size: 15px;
      color: $color--red;
      border: 1.5px solid $color--red;
      line-height: 120px;
      text-align: center;
      background:#eee;
      margin: 1rem;
      box-shadow: 0px 0px 2px 0px $color--red;
    }
  }


@media screen and (min-width: 768px) {
  .presentation {
    &-picture {
      display: block;
      width: 300px;
      height: 300px;
      margin: 1rem 4rem;
    }

    &-header {
      &-cont {
        display: flex;
      }
    }
    &-hr-c {
      width: 32%;
    }

    &-desc {
      margin: 1rem 3rem;
      width: 50%;
      align-self: center;
    }
  }
}

@media screen and (min-width: 1000px) {
  .presentation {

    &-hr {
      width: 9%;

      &-c {
        width: 18%;
      }
    }

    &-group {
      padding: 0 15rem;
    }

    &-circle:hover {
      background-color: $color--gray;
      color: #fff;
      border: none;
      transition: .5s;
      box-shadow: 0px 0px 2px 0px #eee;
    }

    &-desc {
      line-height: 1.7rem;
    }
  }
}
