._icon {
  font-family: 'icons';
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;

  &-html:before {
    content: '\e826'
  }
}
