$color--black: #000;
$color--white: #fff;
$color--red: #db1a67;
$color--gray: #252934;

// == Mobile Size
@media screen and (min-width: 300px) {
  .contact {
    margin: 5rem 0 0;
    color: $color--white;
    background-color: $color--gray;
    padding: 2rem;

    &-hr {
      height: 3px;
      background-color: $color--white;
      width: 30%;
      margin-bottom: 2rem;
    }

    &-title {
      color: $color--white;
      font-size: 18px;
      margin: 1.5rem 0;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
    }

    &-container {
      padding: 1rem;
    }

    &-desc {
      padding: 1rem;
      text-align: center;
    }

    &-link {
      color: $color--red;
      text-decoration: underline;
      font-size: 16px;
      letter-spacing: .1rem;
    }
  }
}
