@import 'src/styles/vars';

@media screen and (min-width: 300px) {
  .nav {
    width: 100%;
    color: $color--red;
    margin: 1rem auto 5rem;
    border-bottom: 1px solid;
    padding-bottom: 1rem;

    &-ul {
      display: flex;
      justify-content: space-between;
      width: 95vw;
      margin: 0 auto;
    }
  }
  .header {
    background-color: #000;
  }

  .div-one {
    background: url('http://farm1.staticflickr.com//447//19585243302_fae38fd86f_o.jpg');
    background-color:red;
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    position: absolute;
  }

  .div-two {
    -webkit-clip-path: polygon(100vw 0, 0% 100%, 100vw 100vh);
    clip-path: polygon(100vw 0, 0% 100vh, 100vw 100vh);
    background: url('https://farm9.staticflickr.com/8644/15964625458_d5c6d431ac_k.jpg');
    width: 100vw;
    height: 100vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:bottom;
  }

  /* Decoration */

  .overlay {
    width: 100vw;
    height: 100vh;
    background: rgba( 0, 0, 0, 0.3);
    position: absolute;
    top: 0;
  }

  .box {
    position: absolute;
    background: rgba(0,0,0,0.6);
    top: 50%; 
    left: 50%; 
    transform:translate(-50%, -50%); 
    text-align: center; color: rgba(250, 250, 250, 0.8); 
    border: 4px double rgba(250, 250, 250, 0.2);

    &-title {
    font-size: 2.5rem; 
    padding: .5rem 1em; 
    }
  }
}

@media screen and (min-width: 768px) {
  .div-one {
    width: 98.9vw;
  }

  .div-two {
    width: 98.9vw;
  }

  .overlay {
    width: 98.9vw;
  }

  .box {
    &-title {
      font-size: 3em;
      padding: 1rem 3em;
      line-height: 1.3;
  }
    }
}
