$color--red: #db1a67;

.header {
  padding: 0rem 1.2rem;
  background-color: #252934;
  color: #fff;
  height: 100vh;

  &-title {
    font-size: 2em;
    margin-bottom: 2rem;
    padding-top: 4rem;
    text-align: center;
    text-transform: uppercase;
    animation: textColor 7s ease infinite;
  }

  &-image {
    width: 50%;
    object-fit: cover;
    border-radius: 2em;
    margin: 2rem auto;
    display: block;
  }

  &-desc {
    text-align: center;
    line-height: 1.5rem;
    font-size: 18px;
  }

  &-name {
    color: $color--red;
  }

  &-group-btn {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
  }

  &-btn {
    background: transparent;
    margin: 2rem 0 1rem 0;
    box-shadow: none;
    border: 2px solid;
    padding: .5rem 1rem;
    color: #fff;
    text-transform: uppercase;

    &:last-child {
      margin-top: 1rem; 
    }
  }

  .icon svg {
    font-size: 1.3em;
    display: inline-block;
    vertical-align: middle;
  }

  @keyframes textColor {
    0% {
      color: #ff0000;
    }
    50% {
      color: #ffb30f;
    }
    100% {
      color: #fc1d1d;
    }
  }
}
